*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.box1{
    border: 10px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    height: 550px;
    width: 700px;
    margin: auto;
    margin-top: 40px;
    background-color: rgb(58, 46, 58);
    position: relative;
}

.box2{
    width: 500px;
    height: 450px;
    background-color: rgb(1, 70, 1);
    position: absolute;
    top: 45px;
    left: 100px;
    border-radius: 200px 0;
}

img{
    border-radius: 50%;
    background-color: rgb(1, 70, 1);
    position: absolute;
    top: 35px;
    left: 230px;
    z-index: 2;
}

.box3{
    width: 300px;
    height: 300px;
    background-color: grey;
    position: absolute;
    top: 70px;
    left: 100px;
    border-radius: 0 150px;
}

.rec1{
    background-color: white;
    border-radius: 5px;
    height: 40px;
    width: 230px;
    position: absolute;
    top: 70px;
    left: 25px;
}

.rec2{
    background-color: white;
    border-radius: 5px;
    height: 40px;
    width: 230px;
    position: absolute;
    top: 130px;
    left: 25px;
}

.rec3{
    background-color: white;
    border-radius: 5px;
    height: 30px;
    width: 115px;
    position: absolute;
    top: 190px;
    left: 90px;
    text-align: center;
    padding: 5px;
}